<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="utf-8">
		<title>在线测评</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link th:href="@{/css/wnui.css}" rel="stylesheet"/>
		<link th:href="@{/css/web.css}" rel="stylesheet"/>
		<link th:href="@{/css/userbackground/btn-imp.css}" rel="stylesheet"/>
		 <style type="text/css">

		 </style>
	</head>
	<!--<body th:style="'background-image: url('+@{${cpSheet.backPath}}+')'" style="background-attachment:fixed;background-size:100%;">-->
	<body style="background-attachment:fixed;background-size:100%;">
	<div class="wrap wap-wrap tc" style="min-height: 100vh;">
			<div class="k50"></div>
			<img th:src="@{/img/icon-ok.png}" width="30%" alt="">
			<div class="k20"></div>
			<div class="k10"></div>
			<h3>提交完成！</h3>
			<div class="k20"></div>
			<p>感谢您的参与！</p>
			<div class="k50"></div>
			<div class="k20"></div>
			 
<!--			<div class="btn-wrap hide">-->
<!--				<a href="javascript:void(0)" id="subjectPath" class="btn btn-lg wb20"> 返回 </a>-->
<!--			</div>-->
		</div>
		<th:block th:include="include :: footer" />
		<script th:inline="javascript">
			var cpSheet = [[${cpSheet}]];
			var sheetId = cpSheet.id;
			$("#subjectPath").addClass(cpSheet.subjectPath);

			/*$('body').css({
				'background': '#F3F5F8 url('+ctx+cpSheet.backPath+') no-repeat center top',
				'background-attachment':'fixed',
				'background-size':'100%',
			})*/

		</script>
	</body>
</html>
