@charset "UTF-8";

.btn-primary {
	background-color: #1ab394 !important;
	border-color: #1ab394 !important;
	color: #fff !important
}

.btn-success {
	background-color: #1c84c6 !important;
	border-color: #1c84c6 !important;
	color: #fff !important
}

.btn-info {
	background-color: #23c6c8 !important;
	border-color: #23c6c8 !important;
	color: #fff !important
}

.btn-warning {
	background-color: #f8ac59 !important;
	border-color: #f8ac59 !important;
	color: #fff !important
}

.btn-danger {
	background-color: #ed5565 !important;
	border-color: #ed5565 !important;
	color: #fff !important
}